/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu

# 微应用依赖
/micro-app/*/src/.umi
/micro-app/*/src/.umi-production
/micro-app/*/node_modules
/micro-app/*/.umi
/micro-app/*/.umi-production
/micro-app/*/pnpm-lock.yaml
